<!--
-- Created by MikBac on 29.05.2019
-->
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<form class="home">
    <table>
        <thead>
        <tr>
            <th> Id</th>
            <th> Kolumna1</th>
            <th> Kolumna2</th>
            <th> Kolumna3</th>
            <th> Kolumna4</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exampleTableModel : ${tables}">
            <td><span th:text="${exampleTableModel.id}"> id </span></td>
            <td><span th:text="${exampleTableModel.kolumna1}"> kolumna1 </span></td>
            <td><span th:text="${exampleTableModel.kolumna2}"> Kolumna2 </span></td>
            <td><span th:text="${exampleTableModel.kolumna3}"> Kolumna3 </span></td>
            <td><span th:text="${exampleTableModel.kolumna4}"> Kolumna4 </span></td>
        </tr>
        </tbody>
    </table>
    <br/><br/><br/>
    <div class="controls">
        <select id="select01">
            <option value="Kolumna1">Kolumna1</option>
            <option value="Kolumna2">Kolumna2</option>
            <option value="Kolumna3">Kolumna3</option>
            <option value="Kolumna4">Kolumna4</option>
        </select>
    </div>
    <br/><br/><br/>
    <!-- Column-1 -->
    <div class="myClass" id="Kolumna1">
        <h3>Unikalne wiersze dla kolumny 1</h3>
        <table>
            <thead>
            <tr>
                <th> Id</th>
                <th> Kolumna1</th>
                <th> Kolumna2</th>
                <th> Kolumna3</th>
                <th> Kolumna4</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exampleTableModel : ${uniqueTable1}">
                <td><span th:text="${exampleTableModel.id}"> id </span></td>
                <td><span th:text="${exampleTableModel.kolumna1}"> kolumna1 </span></td>
                <td><span th:text="${exampleTableModel.kolumna2}"> Kolumna2 </span></td>
                <td><span th:text="${exampleTableModel.kolumna3}"> Kolumna3 </span></td>
                <td><span th:text="${exampleTableModel.kolumna4}"> Kolumna4 </span></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <h3>Powtarzajace się krotki dla kolumny 1</h3>
        <table>
            <thead>
            <tr>
                <th> Id</th>
                <th> Kolumna1</th>
                <th> Kolumna2</th>
                <th> Kolumna3</th>
                <th> Kolumna4</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exampleTableModel : ${repeatedTable1}">
                <td><span th:text="${exampleTableModel.id}"> id </span></td>
                <td><span th:text="${exampleTableModel.kolumna1}"> kolumna1 </span></td>
                <td><span th:text="${exampleTableModel.kolumna2}"> Kolumna2 </span></td>
                <td><span th:text="${exampleTableModel.kolumna3}"> Kolumna3 </span></td>
                <td><span th:text="${exampleTableModel.kolumna4}"> Kolumna4 </span></td>
            </tr>
            </tbody>
        </table>
        <br/>
    </div>
    <!-- Column-2 -->
    <div class="myClass" id="Kolumna2">
        <h3>Unikalne wiersze dla kolumny 2</h3>
        <table>
            <thead>
            <tr>
                <th> Id</th>
                <th> Kolumna1</th>
                <th> Kolumna2</th>
                <th> Kolumna3</th>
                <th> Kolumna4</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exampleTableModel : ${uniqueTable2}">
                <td><span th:text="${exampleTableModel.id}"> id </span></td>
                <td><span th:text="${exampleTableModel.kolumna1}"> kolumna1 </span></td>
                <td><span th:text="${exampleTableModel.kolumna2}"> Kolumna2 </span></td>
                <td><span th:text="${exampleTableModel.kolumna3}"> Kolumna3 </span></td>
                <td><span th:text="${exampleTableModel.kolumna4}"> Kolumna4 </span></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <h3>Powtarzajace się krotki dla kolumny 2</h3>
        <table>
            <thead>
            <tr>
                <th> Id</th>
                <th> Kolumna1</th>
                <th> Kolumna2</th>
                <th> Kolumna3</th>
                <th> Kolumna4</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exampleTableModel : ${repeatedTable2}">
                <td><span th:text="${exampleTableModel.id}"> id </span></td>
                <td><span th:text="${exampleTableModel.kolumna1}"> kolumna1 </span></td>
                <td><span th:text="${exampleTableModel.kolumna2}"> Kolumna2 </span></td>
                <td><span th:text="${exampleTableModel.kolumna3}"> Kolumna3 </span></td>
                <td><span th:text="${exampleTableModel.kolumna4}"> Kolumna4 </span></td>
            </tr>
            </tbody>
        </table>
        <br/>
    </div>
    <!-- Column-3 -->
    <div class="myClass" id="Kolumna3">
        <h3>Unikalne wiersze dla kolumny 3</h3>
        <table>
            <thead>
            <tr>
                <th> Id</th>
                <th> Kolumna1</th>
                <th> Kolumna2</th>
                <th> Kolumna3</th>
                <th> Kolumna4</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exampleTableModel : ${uniqueTable3}">
                <td><span th:text="${exampleTableModel.id}"> id </span></td>
                <td><span th:text="${exampleTableModel.kolumna1}"> kolumna1 </span></td>
                <td><span th:text="${exampleTableModel.kolumna2}"> Kolumna2 </span></td>
                <td><span th:text="${exampleTableModel.kolumna3}"> Kolumna3 </span></td>
                <td><span th:text="${exampleTableModel.kolumna4}"> Kolumna4 </span></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <h3>Powtarzajace się krotki dla kolumny 3</h3>
        <table>
            <thead>
            <tr>
                <th> Id</th>
                <th> Kolumna1</th>
                <th> Kolumna2</th>
                <th> Kolumna3</th>
                <th> Kolumna4</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exampleTableModel : ${repeatedTable3}">
                <td><span th:text="${exampleTableModel.id}"> id </span></td>
                <td><span th:text="${exampleTableModel.kolumna1}"> kolumna1 </span></td>
                <td><span th:text="${exampleTableModel.kolumna2}"> Kolumna2 </span></td>
                <td><span th:text="${exampleTableModel.kolumna3}"> Kolumna3 </span></td>
                <td><span th:text="${exampleTableModel.kolumna4}"> Kolumna4 </span></td>
            </tr>
            </tbody>
        </table>
        <br/>
    </div>
    <!-- Column-4 -->
    <div class="myClass" id="Kolumna4">
        <h3>Unikalne wiersze dla kolumny 4</h3>
        <table>
            <thead>
            <tr>
                <th> Id</th>
                <th> Kolumna1</th>
                <th> Kolumna2</th>
                <th> Kolumna3</th>
                <th> Kolumna4</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exampleTableModel : ${uniqueTable4}">
                <td><span th:text="${exampleTableModel.id}"> id </span></td>
                <td><span th:text="${exampleTableModel.kolumna1}"> kolumna1 </span></td>
                <td><span th:text="${exampleTableModel.kolumna2}"> Kolumna2 </span></td>
                <td><span th:text="${exampleTableModel.kolumna3}"> Kolumna3 </span></td>
                <td><span th:text="${exampleTableModel.kolumna4}"> Kolumna4 </span></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <h3>Powtarzajace się krotki dla kolumny 4</h3>
        <table>
            <thead>
            <tr>
                <th> Id</th>
                <th> Kolumna1</th>
                <th> Kolumna2</th>
                <th> Kolumna3</th>
                <th> Kolumna4</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exampleTableModel : ${repeatedTable4}">
                <td><span th:text="${exampleTableModel.id}"> id </span></td>
                <td><span th:text="${exampleTableModel.kolumna1}"> kolumna1 </span></td>
                <td><span th:text="${exampleTableModel.kolumna2}"> Kolumna2 </span></td>
                <td><span th:text="${exampleTableModel.kolumna3}"> Kolumna3 </span></td>
                <td><span th:text="${exampleTableModel.kolumna4}"> Kolumna4 </span></td>
            </tr>
            </tbody>
        </table>
        <br/>
    </div>
</form>
<link rel="stylesheet" type="text/less" th:href="@{/less/home.less}"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/js/script.js}"></script>
</html>




